@import "./base.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
    font-size: 16px;
}

a {
    color: rgb(192, 237, 255);
    text-decoration: none;
}

nav {
    background-color: #222;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

input {
    padding: 12px 2rem;
    border-radius: 100rem;
    margin-bottom: 10px;
    font-size: inherit;
    font-family: inherit;
    border: 0;
    background: rgba(255, 255, 255, 0.1);
    display: block;
    width: 100%;
    outline: 0;
    color: white;
}

button {
    padding: 12px 2rem;
    border-radius: 100rem;
    margin-bottom: 10px;
    font-size: inherit;
    font-family: inherit;
    border: 0;
    background: #007bff;
    color: white;
    display: block;
    width: 100%;
    cursor: pointer;
    outline: 0;
}

.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 0.5rem;
    width: 450px;
}
