@import "./base.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
    background: rgba(255, 255, 255, 0.05);
    padding: 1rem;
}
nav h2 {
    color: white;
}

aside {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    background: #222;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 5px;
}

aside div {
    padding: 1rem;
    border-radius: 10px;
    transition: 0.2s;
    font-size: 1rem;
    font-weight: 500;
}
aside div:hover {
    background: rgba(255, 255, 255, 0.05);
}

.shifted {
    position: absolute;
    left: 250px;
    top: 0;
}

.app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
    font-size: 16px;
}

a {
    color: white;
    text-decoration: none;
}

input {
    padding: 12px 2rem;
    border-radius: 100rem;
    margin-bottom: 10px;
    font-size: inherit;
    font-family: inherit;
    border: 0;
    background: rgba(255, 255, 255, 0.1);
    display: block;
    width: 100%;
    outline: 0;
    color: white;
}

button {
    padding: 12px 2rem;
    border-radius: 100rem;
    margin-bottom: 10px;
    font-size: inherit;
    font-family: inherit;
    border: 0;
    background: #007bff;
    color: white;
    display: block;
    width: 100%;
    cursor: pointer;
    outline: 0;
}

.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 0.5rem;
    width: 450px;
}

thead {
    background-color: #007bff;
    color: white;
}

th {
    background-color: #007bff;
    color: white;
}

.fc-theme-standard * {
    border: 0 !important;
}
